body {
    font-family: 'Poppins', sans-serif;
         background: linear-gradient(to right, #6b034a 0%, #000000 100%);
        }
         .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    background-color: #6b034a;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
      line-height: 1.6;
    }


         .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    background-color: #6b034a;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .move a{
    /* display: flex; */
   text-decoration: none;
    width:auto;
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
    color: #000;
}
ul li {
 display: inline-block;
 margin-right: 10px; /* optional space between list items */
}
.move a::after {
    content:'' ;
    width: 20px;
    height: 5px;
    background: #f92537;
    margin-left: 10px;
    margin-bottom: 5px;
}
.move a:hover{
    font-weight: 700;
}
.move a:hover::after{
    display:inline-block;
}

header {
    /* background-color: #333; */
    color: white;
    padding: 10px;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #333;
}

p {
    margin-bottom: 15px;
}

footer {
    background-color:aquamarine;
    color: white;
    padding: 10px;
    text-align: center;
}